<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>checkEmailExisted</servlet-name>
        <servlet-class>controller.CheckEmailExisted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUsController</servlet-name>
        <servlet-class>controller.ContactUsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentsServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentsServlet</servlet-name>
        <servlet-class>Controllers.Student.UpdateStudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInstructorsServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListInstructorsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCoursesServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListCoursesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassesServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLessonsServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListLessonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonsServlet</servlet-name>
        <servlet-class>Controllers.Admin.EditLessonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonsServlet</servlet-name>
        <servlet-class>Controllers.Admin.AddLessonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLessonsServlet</servlet-name>
        <servlet-class>Controllers.Admin.DeleteLessonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEnrollmentsServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListEnrollmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEnrollmentsServlet</servlet-name>
        <servlet-class>Controllers.Admin.EditEnrollmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAnnouncementsServlet</servlet-name>
        <servlet-class>Controllers.Admin.EditAnnouncementsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAnnouncementsServlet</servlet-name>
        <servlet-class>Controllers.Admin.ListAnnouncementsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnnouncementsServlet</servlet-name>
        <servlet-class>Controllers.Admin.AddAnnouncementsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnnouncementsServlet</servlet-name>
        <servlet-class>Controllers.Admin.DeleteAnnouncementsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkEmailExisted</servlet-name>
        <url-pattern>/checkEmailExisted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUsController</servlet-name>
        <url-pattern>/contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentsServlet</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentsServlet</servlet-name>
        <url-pattern>/students/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInstructorsServlet</servlet-name>
        <url-pattern>/instructors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCoursesServlet</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassesServlet</servlet-name>
        <url-pattern>/classes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLessonsServlet</servlet-name>
        <url-pattern>/lessons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonsServlet</servlet-name>
        <url-pattern>/editlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonsServlet</servlet-name>
        <url-pattern>/addlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLessonsServlet</servlet-name>
        <url-pattern>/deletelesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEnrollmentsServlet</servlet-name>
        <url-pattern>/enrollments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEnrollmentsServlet</servlet-name>
        <url-pattern>/editenrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAnnouncementsServlet</servlet-name>
        <url-pattern>/editannouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAnnouncementsServlet</servlet-name>
        <url-pattern>/announcements</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnnouncementsServlet</servlet-name>
        <url-pattern>/addannouncement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnnouncementsServlet</servlet-name>
        <url-pattern>/deleteannouncement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
